<div>
    <form clrForm clrLayout="vertical" class="addCharityForm"> 
         <h2>Add Charity</h2>

        <clr-input-container>
             <label class="clr-sr-only">Name</label>
             <input #charityName type="text" clrInput placeholder="Name" />
        </clr-input-container>

        <clr-input-container>
            <input #nameImage type="file" clrInput (change)="onFileChanged($event)" >
         </clr-input-container>

        <form class="clr-form">
            <div class="clr-control-container descriptionTextArea">
                <textarea #description placeholder="Charity description" class="clr-textarea"></textarea>
            </div>
        </form>

         <clr-input-container>
            <label class="clr-sr-only">Number Of Participants</label>
            <input #numberOfParticipants type="number" clrInput placeholder="Number Of Participants  " min="0"/>
        </clr-input-container>

        <clr-input-container>
            <label class="clr-sr-only">Required Budget</label>
            <input #requiredBudget type="number" clrInput placeholder="Required Budget  " min="0"/>
        </clr-input-container>
  
        <!-- (click) passes input value to add() and then clears the input -->
        <button  class="btn btn-outline addCharityButton" (click)=" openConfirmationDialog()">
              Add charity
        </button>

        <div class="modal" [hidden]="confirmationDialog">
            <div class="modal-dialog" role="dialog" aria-hidden="true">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Do you want to create a charity?</h3>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button" (click)="addCharity( charityName.value,
                        description.value, 
                        numberOfParticipants.value, 
                        requiredBudget.value, 
                        getUsername())">
                        YES
                       </button>
                        <button class="btn btn-outline" type="button" (click)="closeConfirmationDialog()">NO</button>
                    </div>
                </div>
            </div>
         </div>
         
         <div class="modal-backdrop" aria-hidden="true" [hidden]="confirmationDialog"></div>
    </form>
</div>
