<form clrForm clrLayout="horizontal" class="registration-form">
    <h1> Create an account</h1>
    <clr-input-container>
        <label class="clr-sr-only">First name</label>
        <input #firstName type="text" clrInput placeholder="First name" />
    </clr-input-container>

    <clr-input-container>
        <label class="clr-sr-only">Last name</label>
        <input #lastName type="text" clrInput placeholder="Last name" />
    </clr-input-container>

    <clr-input-container>
        <label class="clr-sr-only">Username</label>
        <input #username type="text" clrInput placeholder="Username" />
    </clr-input-container>

    <clr-password-container>
        <label class="clr-sr-only">Password</label>
        <input #password type="password" clrPassword placeholder="Password"/>
    </clr-password-container>

    <clr-input-container>
        <label class="clr-sr-only">Age</label>
        <input #age type="number" clrInput placeholder="Age" min="0" max="105"/>
    </clr-input-container>

    <div class="gender-check">
        <p>Gender: </p>
        <label class="container">Female
            <input type="radio" checked="checked" name="radio">
            <span class="checkmark"></span>
        </label>
        <label class="container">Male
            <input type="radio" name="radio">
            <span class="checkmark"></span>
        </label>
        <label class="container">Other
            <input type="radio" name="radio">
            <span class="checkmark"></span>
        </label>
    </div>

    <clr-input-container>
        <label class="clr-sr-only">Country</label>
        <input #country type="text" clrInput placeholder="Country"/>
    </clr-input-container>

    <clr-input-container>
        <label class="clr-sr-only">Town</label>
        <input #town type="text" clrInput placeholder="Town"/>
    </clr-input-container>

    <clr-input-container>
        <label class="clr-sr-only">Neighbourhood</label>
        <input #neighbourhood type="text" clrInput placeholder="Neighbourhood"/>
    </clr-input-container>

    <clr-input-container>
        <label class="clr-sr-only">Street</label>
        <input #street type="text" clrInput placeholder="Street"/>
    </clr-input-container>

    <clr-input-container>
        <label class="clr-sr-only">Apartment Number</label>
        <input #apartmentNumber type="number" clrInput placeholder="Apartment Number" min="0"/>
    </clr-input-container>

    <button type="submit" class="btn btn-primary createAccountButton"
        (click)="addUser(
            firstName.value,
            lastName.value,
            username.value,
            password.value,
            age.value,
            country.value,
            town.value,
            neighbourhood.value,
            street.value,
            apartmentNumber.value);">
        Create an account
    </button>
</form>
