<div *ngIf="charity">
   <h1>{{charity.name}}</h1>
   
   
   <a class="share-twitter twitter-share-button twitterShareButton" target="_blank" 
   href="https://twitter.com/intent/tweet?text=Become%20a%20donator%20or%20a%20volunteer%20in%20our%20charity%20&#8221;{{charity.name}}&#8221;">
   <clr-icon shape="share"></clr-icon> tweet </a>

   <button class="btn btn-danger deleteButton" [hidden]="!checkCurrentUserIsCharityCreator()" (click)="deleteCharity()">
      <clr-icon shape="trash" class="is-solid"></clr-icon>
   </button>
   <div class="middleInformation">
      <img src="../assets/images/{{charity.thumbnail}}" width="45%">

      <div *ngIf="charity.requiredBudget > 0" class="donation">
         <p>Money: {{collectedAmount}} / {{charity.requiredBudget}}</p>
         <progress value="{{collectedAmount}}" max="{{charity.requiredBudget}}"></progress><br>
         <button class="btn btn-success" (click)="openConfirmationDialogDonation();">Donate money</button>  
      </div>

      <div *ngIf="charity.numberOfParticipants > 0" class="participation">
         <p>Participations: {{collectedParticipants}} / {{charity.numberOfParticipants}}</p>
         <progress value="{{collectedParticipants}}" max="{{charity.numberOfParticipants}}"></progress><br>
         <div *ngIf=" (charity.numberOfParticipants > collectedParticipants)">
            <button class="btn btn-success" (click)="openConfirmationDialogParticipation();">Participation</button> 
         </div> 
      </div>
   </div>
   <div class="charity-description">
      <h3> Description: </h3>
      <p>{{charity.description}}</p>
</div>

<div class="modal" [hidden]="confirmationDialogDonation">
   <div class="modal-dialog" role="dialog" aria-hidden="true">
       <div class="modal-content">
           <div class="modal-header">
               <h3 class="modal-title">Do you want to donate?</h3>
           </div>
           <clr-input-container>
            <label class="clr-sr-only">Money</label>
            <input #money type="number" clrInput placeholder=" {{estimationAmount}}  $" min="0" max="charity.requiredBudget"/>
           </clr-input-container>
           <div class="modal-footer">
               <button class="btn btn-primary" type="button" (click)="makeDonation(money.value);">YES</button>
               <button class="btn btn-outline" type="button" (click)="closeConfirmationDialogDonation()">NO</button>
           </div>
       </div>
   </div>
</div>

<div class="modal" [hidden]="confirmationDialogParticipation">
   <div class="modal-dialog" role="dialog" aria-hidden="true">
       <div class="modal-content">
           <div class="modal-header">
               <h3 class="modal-title">Do you want to be a participant?</h3>
           </div>
           <div class="modal-footer">
               <button class="btn btn-primary" type="button" (click)="makeParticipant()">YES</button>
               <button class="btn btn-outline" type="button" (click)="closeConfirmationDialogParticipation()">NO</button>
           </div>
       </div>
   </div>
</div>

<div class="modal-backdrop" aria-hidden="true" [hidden]="confirmationDialogDonation && confirmationDialogParticipation"></div>
