img{
   float: left;
   margin: 15px;
}

h1{
    margin: 20px;
}

.middleInformation{
    margin: 15px;
}

p{
    font-size: 20px;
}

.donation{
    margin:10px;
}

.participation{
    margin: 10px;
}


.charity-description{
    margin:15px;
}

.deleteButton{
    position: absolute;
    right: 2%;
    top: 10%;
}

.twitterShareButton{
    position: absolute;
    right: 5%;
    top: 20%;
}