<div class="search-component-charity"> 
    <input  #searchBox type="text" name="search" placeholder="Search.." (input)="search(searchBox.value)" >
    <ul class="search-result">
        <li *ngFor="let charity of charities$ | async" >
          <a routerLink="/charities/{{charity.name}}">
            {{charity.name}}
          </a>
        </li>
    </ul>
</div>
