input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
  }

.search-component-charity{
    margin-left: 45px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 20px;
}