<header class="header-6">
    <div class="branding">
        <a href="..." class="nav-link">
            <!--<clr-icon shape="vm-bug"></clr-icon> -->
            <span class="title">Network of Giving</span>
        </a>
    </div>
    <!--<form class="search">
        <label for="search_input">
            <input id="search_input" type="text" placeholder="Search for charities...">
        </label>
    </form> -->
    <div class="header-actions">               
        <a routerLink="/login" class="nav-link nav-text"[hidden]="isUserAuthenticated()">
            Log In 
        </a>
        <a routerLink="/registration" class="nav-link nav-text" [hidden]="isUserAuthenticated()">
            Registration
        </a>
        <a routerLink="/profile" class="nav-link nav-text" [hidden]="!isUserAuthenticated()">
            <clr-icon shape="user" class="is-solid"></clr-icon>
        </a>
        <a class="nav-link nav-text" [hidden]="!isUserAuthenticated()" (click)="openConfirmationDialog()" >
            Log Out
        </a>
    </div>
</header>

<div class="modal" [hidden]="confirmationDialog">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Are you sure?</h3>
            </div>
            <div class="modal-footer">
                <button routerLink="/home" class="btn btn-primary" type="button" (click)=" logOut()">LOGOUT</button>
                <button class="btn btn-outline" type="button" (click)="closeConfirmationDialog()">CANCEL</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop" aria-hidden="true" [hidden]="confirmationDialog"></div>
<div class="main">
    <router-outlet></router-outlet>
</div>
