<div class="login-wrapper" (submit)="logIn(username.value,password.value)">
    <form class="login">
        <section class="title">
            <h3 class="welcome">Welcome to</h3>
            Network Of Giving
            <h5 class="hint">Use your Username to sign in</h5>
        </section>
        <div class="login-group">
            <clr-input-container>
                <label class="clr-sr-only">Username</label>
                <input #username type="text" clrInput placeholder="Username" />
            </clr-input-container>
            <clr-password-container>
                <label class="clr-sr-only">Password</label>
                <input #password type="password" clrPassword placeholder="Password"/>
            </clr-password-container>
             <div *ngIf="checkUser == false" class="error active">
                Invalid user name or password
            </div>
            <clr-checkbox-wrapper>
                <label>Remember me</label>
                <input type="checkbox" name="rememberMe" clrCheckbox/>
            </clr-checkbox-wrapper>
            <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
    </form>
</div>

<!-- <div class="login-wrapper" (submit)="logIn()">
    <form class="login">
        <section class="title">
            <h3 class="welcome">Welcome to</h3>
            Network Of Giving
            <h5 class="hint">Use your Username to sign in</h5>
        </section>
        <div class="login-group">
            <clr-input-container>
                <label class="clr-sr-only">Username</label>
                <input type="text" clrInput placeholder="Username" name="username" [(ngModel)]="username"/>
            </clr-input-container>
            <clr-password-container>
                <label class="clr-sr-only">Password</label>
                <input type="password" clrPassword placeholder="Password" name="password" [(ngModel)]="password"/>
            </clr-password-container>
            <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
    </form>
</div> -->