<app-charity-search></app-charity-search>
<button routerLink="/charities" class="btn btn-outline" style="float: right;" [hidden]="!isUserAuthenticated()">
    <clr-icon shape="plus"></clr-icon> Add charity 
</button>
<div>
    <div 
        fxLayout="row wrap" 
        fxLayout.lt-sm="column" 
        fxLayoutGap="32px" 
        fxLayoutAlign="flex-start">
        <ng-container *ngFor="let charity of charities">
            <div class= "charity-view" 
                fxFlex="0 1 calc(23% - 32px)"
                fxFlex.lt-md="0 1 calc(50% - 32px)"
                fxFlex.lt-sm="100%">
                <a routerLink="/charities/{{charity.name}}" class="card clickable">
                    <h4 class="card-title">{{charity.name}}</h4>
                    <div class="card-img">
                        <img src="../assets/images/{{charity.thumbnail}}">
                    </div>
                    <div class="card-block">
                        <p class="card-text">
                            {{lineRange(charity.description)}}
                        </p>
                    </div>
                </a>
            </div>
        </ng-container>
    </div>
</div>